/*
 * This is chez14's branding color table. Most of the colors are originated from
 * Pantone's Color Book for precision of building things =3=, though, I learned
 * nothing about graphic design.
 *
 * That being said here's all of the color codes!
 */

 // Pantone 427C
$wandering-white: #d0d3d4;

// Pantone 1788 C
$restless-red: #ee2737;

// Pantone 433 C
$gloomy-gray: #1d252d;

// Following colors are additional accents for my branding
$optimistic-orange: #ff6a14; // Pantone 1585 C
$paranormal-pink: #df1995; // Pantone 225 C

// Following colors are complementary color with Tetradic color combination
// formula.

// for success
// Pantone 375 C
$gladly-green: #97d700;

// for info
// Pantone 319 C
$clinical-cyan: #2cccd3;

// for danger
// Pantone 266 C
$persuasive-purple: #753bbd;

// for warnig, i think we can use orange or keep it yellow.

// ---
$wandering-white-100: tint-color($wandering-white, 80%) !default;
$wandering-white-200: tint-color($wandering-white, 60%) !default;
$wandering-white-300: tint-color($wandering-white, 40%) !default;
$wandering-white-400: tint-color($wandering-white, 20%) !default;
$wandering-white-500: $wandering-white !default;
$wandering-white-600: shade-color($wandering-white, 20%) !default;
$wandering-white-700: shade-color($wandering-white, 40%) !default;
$wandering-white-800: shade-color($wandering-white, 60%) !default;
$wandering-white-900: shade-color($wandering-white, 80%) !default;
$wandering-whites: (
    "wandering-white-100": $wandering-white-100,
    "wandering-white-200": $wandering-white-200,
    "wandering-white-300": $wandering-white-300,
    "wandering-white-400": $wandering-white-400,
    "wandering-white-500": $wandering-white-500,
    "wandering-white-600": $wandering-white-600,
    "wandering-white-700": $wandering-white-700,
    "wandering-white-800": $wandering-white-800,
    "wandering-white-900": $wandering-white-900,
);

// ---
$restless-red-100: tint-color($restless-red, 80%) !default;
$restless-red-200: tint-color($restless-red, 60%) !default;
$restless-red-300: tint-color($restless-red, 40%) !default;
$restless-red-400: tint-color($restless-red, 20%) !default;
$restless-red-500: $restless-red !default;
$restless-red-600: shade-color($restless-red, 20%) !default;
$restless-red-700: shade-color($restless-red, 40%) !default;
$restless-red-800: shade-color($restless-red, 60%) !default;
$restless-red-900: shade-color($restless-red, 80%) !default;
$restless-reds: (
    "restless-red-100": $restless-red-100,
    "restless-red-200": $restless-red-200,
    "restless-red-300": $restless-red-300,
    "restless-red-400": $restless-red-400,
    "restless-red-500": $restless-red-500,
    "restless-red-600": $restless-red-600,
    "restless-red-700": $restless-red-700,
    "restless-red-800": $restless-red-800,
    "restless-red-900": $restless-red-900,
);

// --
$gloomy-gray-100: tint-color($gloomy-gray, 80%) !default;
$gloomy-gray-200: tint-color($gloomy-gray, 60%) !default;
$gloomy-gray-300: tint-color($gloomy-gray, 40%) !default;
$gloomy-gray-400: tint-color($gloomy-gray, 20%) !default;
$gloomy-gray-500: $gloomy-gray !default;
$gloomy-gray-600: shade-color($gloomy-gray, 20%) !default;
$gloomy-gray-700: shade-color($gloomy-gray, 40%) !default;
$gloomy-gray-800: shade-color($gloomy-gray, 60%) !default;
$gloomy-gray-900: shade-color($gloomy-gray, 80%) !default;
$gloomy-grays: (
    "gloomy-gray-100": $gloomy-gray-100,
    "gloomy-gray-200": $gloomy-gray-200,
    "gloomy-gray-300": $gloomy-gray-300,
    "gloomy-gray-400": $gloomy-gray-400,
    "gloomy-gray-500": $gloomy-gray-500,
    "gloomy-gray-600": $gloomy-gray-600,
    "gloomy-gray-700": $gloomy-gray-700,
    "gloomy-gray-800": $gloomy-gray-800,
    "gloomy-gray-900": $gloomy-gray-900,
);

// --
$optimistic-orange-100: tint-color($optimistic-orange, 80%) !default;
$optimistic-orange-200: tint-color($optimistic-orange, 60%) !default;
$optimistic-orange-300: tint-color($optimistic-orange, 40%) !default;
$optimistic-orange-400: tint-color($optimistic-orange, 20%) !default;
$optimistic-orange-500: $optimistic-orange !default;
$optimistic-orange-600: shade-color($optimistic-orange, 20%) !default;
$optimistic-orange-700: shade-color($optimistic-orange, 40%) !default;
$optimistic-orange-800: shade-color($optimistic-orange, 60%) !default;
$optimistic-orange-900: shade-color($optimistic-orange, 80%) !default;
$optimistic-oranges: (
    "optimistic-orange-100": $optimistic-orange-100,
    "optimistic-orange-200": $optimistic-orange-200,
    "optimistic-orange-300": $optimistic-orange-300,
    "optimistic-orange-400": $optimistic-orange-400,
    "optimistic-orange-500": $optimistic-orange-500,
    "optimistic-orange-600": $optimistic-orange-600,
    "optimistic-orange-700": $optimistic-orange-700,
    "optimistic-orange-800": $optimistic-orange-800,
    "optimistic-orange-900": $optimistic-orange-900,
);

// --
$paranormal-pink-100: tint-color($paranormal-pink, 80%) !default;
$paranormal-pink-200: tint-color($paranormal-pink, 60%) !default;
$paranormal-pink-300: tint-color($paranormal-pink, 40%) !default;
$paranormal-pink-400: tint-color($paranormal-pink, 20%) !default;
$paranormal-pink-500: $paranormal-pink !default;
$paranormal-pink-600: shade-color($paranormal-pink, 20%) !default;
$paranormal-pink-700: shade-color($paranormal-pink, 40%) !default;
$paranormal-pink-800: shade-color($paranormal-pink, 60%) !default;
$paranormal-pink-900: shade-color($paranormal-pink, 80%) !default;
$paranormal-pinks: (
    "paranormal-pink-100": $paranormal-pink-100,
    "paranormal-pink-200": $paranormal-pink-200,
    "paranormal-pink-300": $paranormal-pink-300,
    "paranormal-pink-400": $paranormal-pink-400,
    "paranormal-pink-500": $paranormal-pink-500,
    "paranormal-pink-600": $paranormal-pink-600,
    "paranormal-pink-700": $paranormal-pink-700,
    "paranormal-pink-800": $paranormal-pink-800,
    "paranormal-pink-900": $paranormal-pink-900,
);

// --
$gladly-green-100: tint-color($gladly-green, 80%) !default;
$gladly-green-200: tint-color($gladly-green, 60%) !default;
$gladly-green-300: tint-color($gladly-green, 40%) !default;
$gladly-green-400: tint-color($gladly-green, 20%) !default;
$gladly-green-500: $gladly-green !default;
$gladly-green-600: shade-color($gladly-green, 20%) !default;
$gladly-green-700: shade-color($gladly-green, 40%) !default;
$gladly-green-800: shade-color($gladly-green, 60%) !default;
$gladly-green-900: shade-color($gladly-green, 80%) !default;
$gladly-greens: (
    "gladly-green-100": $gladly-green-100,
    "gladly-green-200": $gladly-green-200,
    "gladly-green-300": $gladly-green-300,
    "gladly-green-400": $gladly-green-400,
    "gladly-green-500": $gladly-green-500,
    "gladly-green-600": $gladly-green-600,
    "gladly-green-700": $gladly-green-700,
    "gladly-green-800": $gladly-green-800,
    "gladly-green-900": $gladly-green-900,
);

// --
$clinical-cyan-100: tint-color($clinical-cyan, 80%) !default;
$clinical-cyan-200: tint-color($clinical-cyan, 60%) !default;
$clinical-cyan-300: tint-color($clinical-cyan, 40%) !default;
$clinical-cyan-400: tint-color($clinical-cyan, 20%) !default;
$clinical-cyan-500: $clinical-cyan !default;
$clinical-cyan-600: shade-color($clinical-cyan, 20%) !default;
$clinical-cyan-700: shade-color($clinical-cyan, 40%) !default;
$clinical-cyan-800: shade-color($clinical-cyan, 60%) !default;
$clinical-cyan-900: shade-color($clinical-cyan, 80%) !default;
$clinical-cyans: (
    "clinical-cyan-100": $clinical-cyan-100,
    "clinical-cyan-200": $clinical-cyan-200,
    "clinical-cyan-300": $clinical-cyan-300,
    "clinical-cyan-400": $clinical-cyan-400,
    "clinical-cyan-500": $clinical-cyan-500,
    "clinical-cyan-600": $clinical-cyan-600,
    "clinical-cyan-700": $clinical-cyan-700,
    "clinical-cyan-800": $clinical-cyan-800,
    "clinical-cyan-900": $clinical-cyan-900,
);

// --
$persuasive-purple-100: tint-color($persuasive-purple, 80%) !default;
$persuasive-purple-200: tint-color($persuasive-purple, 60%) !default;
$persuasive-purple-300: tint-color($persuasive-purple, 40%) !default;
$persuasive-purple-400: tint-color($persuasive-purple, 20%) !default;
$persuasive-purple-500: $persuasive-purple !default;
$persuasive-purple-600: shade-color($persuasive-purple, 20%) !default;
$persuasive-purple-700: shade-color($persuasive-purple, 40%) !default;
$persuasive-purple-800: shade-color($persuasive-purple, 60%) !default;
$persuasive-purple-900: shade-color($persuasive-purple, 80%) !default;
$persuasive-purples: (
    "persuasive-purple-100": $persuasive-purple-100,
    "persuasive-purple-200": $persuasive-purple-200,
    "persuasive-purple-300": $persuasive-purple-300,
    "persuasive-purple-400": $persuasive-purple-400,
    "persuasive-purple-500": $persuasive-purple-500,
    "persuasive-purple-600": $persuasive-purple-600,
    "persuasive-purple-700": $persuasive-purple-700,
    "persuasive-purple-800": $persuasive-purple-800,
    "persuasive-purple-900": $persuasive-purple-900,
);
