$enable-gradients: false;
$enable-rounded: false;
$spacer: 1.2rem;
$primary: $restless-red !default;
$secondary: $gray-700 !default;
$success: $gladly-green !default;
$info: $clinical-cyan !default;
$warning: $orange-500 !default;
$danger: $persuasive-purple !default;
$light: $wandering-white !default;
$dark: $gloomy-gray !default;
$body-bg: $wandering-white !default;
$card-bg: $wandering-white !default;
$body-color: $gloomy-gray !default;
$link-color: $restless-red-300 !default;
$enable-dark-mode: true !default;
$color-mode-type: data !default;
$body-color-dark: $wandering-white !default;
$body-bg-dark: $gloomy-gray !default;
$prefix: "plong-";
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "accent-a": $optimistic-orange,
    "accent-b": $paranormal-pink
);

// $input-disabled-bg: $gloomy-gray-800;
