---
import type { HTMLAttributes } from "astro/types";
export interface Props extends HTMLAttributes<"footer"> {
  container?: "container" | "container-fluid";
}
let { container = "container", class: className, ...props } = Astro.props;

let copyrightYear: string | number = 2020;
let currentYear = new Date().getFullYear();
if (currentYear != copyrightYear) {
  copyrightYear = `${copyrightYear}-${currentYear}`;
}
---

<footer {...props} class:list={[className, "footer"]}>
  <div class="footer__item">
    <div class:list={[container]}>Testing ABC</div>
  </div>
  <div class="footer__item footer__item_attribution">
    <div class:list={[container]}>
      <p class="small">
        Copyright &copy;{copyrightYear} Gunawan “chez14” Christianto, and
        Contributors. plong theme uses Bootstrap v5 for the base.
      </p>
    </div>
  </div>
</footer>

<style lang="scss" is:global>
  @import "@/styles/systems/theme";
  @import "bootstrap/scss/mixins";

  .footer {
    background-color: $gloomy-gray-600;
    color: $wandering-white-700;

    & p:last-child {
      margin-bottom: 0rem;
    }

    &__item {
      padding: $spacer 0rem;

      &_attribution {
        padding: $spacer * 0.5 0rem;
        background-color: $gloomy-gray-700;
      }
    }
  }

  @include color-mode(light) {
    .footer {
      background-color: $wandering-white-600;
      color: $gloomy-gray-400;

      &__item {
        &_attribution {
          background-color: $wandering-white-700;
          color: $gloomy-gray-600;
        }
      }
    }
  }
</style>
