---
import TypographyFragment from "@/fragments/controls/0-typography";
import ImageFragment from "@/fragments/controls/1-images";
import TablesFragment from "@/fragments/controls/2-tables";
import FiguresFragment from "@/fragments/controls/3-figures";
import FormsOverviewFragment from "@/fragments/controls/4-forms-overview";
import FormsDisabledFragment from "@/fragments/controls/5-forms-disabled";
import FormsSizingFragment from "@/fragments/controls/6-forms-sizing";
import FormsInputGroupFragment from "@/fragments/controls/7-forms-input-group";
import FormsFloatingLabelsFragment from "@/fragments/controls/8-forms-floating-labels";
import FormsValidationFragment from "@/fragments/controls/9-forms-validation";
import Base from "@/layouts/base.astro";
import { Container } from "react-bootstrap";
---

<Base>
  <title slot="head">Bootstrap Controls</title>
  <Container className="content">
    <div><TypographyFragment /></div>
    <div><ImageFragment /></div>
    <div><TablesFragment /></div>
    <div><FiguresFragment /></div>
    <div><FormsOverviewFragment /></div>
    <div><FormsDisabledFragment /></div>
    <div><FormsSizingFragment /></div>
    <div><FormsInputGroupFragment /></div>
    <div><FormsFloatingLabelsFragment /></div>
    <div><FormsValidationFragment /></div>
  </Container>
</Base>

<style lang="scss">
  @import "../styles/systems/theme";
  @import "bootstrap/scss/mixins";

  .content {
    :global(.section) {
      margin-bottom: $spacer * 3;
    }

    :global(.bd-placeholder-img) {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @include media-breakpoint-up(lg) {
      :global(.bd-placeholder-img-lg) {
        font-size: 3.5rem;
      }
    }
  }
</style>
