---
import Base from "@/layouts/base.astro";
import { Container, Row, Col } from "react-bootstrap";
import { ColorsFragment } from "@/fragments/index/colors";
---

<Base>
  <div class="header">
    <Container>
      <div class="header__inner">
        <Row>
          <Col xs={12} md={6}>
            <h1 class="display-1">plong</h1>
            <p class="lead m-0">/ploŋ/ • <em>noun</em></p>
            <p class="h2 fw-light">a devil, the goffy kind.</p>
          </Col>
          <Col className="align-self-end">
            <p class="lead text-end">
              a bootstrap 5 theme by <code>chez14</code>.
            </p>
          </Col>
        </Row>
      </div>
    </Container>
  </div>

  <Container>
    <ColorsFragment client:only/>
  </Container>
</Base>

<style lang="scss">
  @import "../styles/systems/theme";
  @import "../styles/utils/navbar-calculator";
  @import "bootstrap/scss/mixins";

  .header {
    min-height: 40vh;
    display: flex;
    align-items: center;

    position: sticky;

    z-index: $zindex-sticky - 5;

    &::before {
      content: "";
      display: block;
      position: absolute;

      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;

      z-index: -1;

      opacity: 0.3;

      background: no-repeat center center / cover
        url(../assets/jc-dela-cuesta-MgG-w0Dg_Ek-unsplash.jpg);
    }

    & > div {
      height: 100%;
    }

    & .header__inner {
      $margin-y: map-get(
        $map: $spacers,
        $key: 5,
      );
      margin: #{calc($margin-y + $totalHeightNeeded)} 0rem #{$margin-y};
    }
  }

  // @TODO: Refactor when https://github.com/twbs/bootstrap/pull/39194 merged.
  @include color-mode(light) {
    .header {
      &::before {
        opacity: 0.1;
      }
    }
  }
</style>
