---
import "@/styles/global.scss";
import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/footer/footer.astro";
import ThemeNavbar from "@/components/navbar/navbar";
---

<html lang="en" data-bs-theme="dark">
  <head>
    <ViewTransitions />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
  </head>
  <body>
    <ThemeNavbar client:load/>

    <slot />

    <Footer />
  </body>
</html>
