@import "../../styles/systems/theme";
@import "../../styles/utils/navbar-calculator";
@import "bootstrap/scss/mixins";

.navbar {
    background-color: $gloomy-gray-700;
    transition: background-color 0.5s ease;

    --#{$prefix}navbar-color: #{$wandering-white};
    --#{$prefix}navbar-hover-color: #{$wandering-white-400};
    --#{$prefix}navbar-disabled-color: #{$wandering-white-700};
    --#{$prefix}navbar-active-color: #{$wandering-white-300};

    --#{$prefix}navbar-brand-color: #{$restless-red};
    --#{$prefix}navbar-brand-hover-color: #{$restless-red-400};

    svg {
        $svg-scale: 0.5;
        height: ($font-size-base * $line-height-base) + (2 * $nav-link-padding-y * $svg-scale);
        fill: currentColor;

        margin: (-$nav-link-padding-y * $line-height-base * $svg-scale) (-$navbar-nav-link-padding-x * $svg-scale);
    }

    :global {
        .dropdown-menu {
            --#{$prefix}dropdown-link-color: var(--#{$prefix}navbar-color);
            --#{$prefix}dropdown-link-bg: #{$gloomy-gray};
            --#{$prefix}dropdown-link-hover-bg: #{$gloomy-gray-600};
        }
    }
}

// @TODO: Refactor when https://github.com/twbs/bootstrap/pull/39194 merged.
@include color-mode(light) {
    .navbar {
        background-color: $wandering-white-600;
        --#{$prefix}navbar-color: #{$gloomy-gray};
        --#{$prefix}navbar-hover-color: #{$gloomy-gray-400};
        --#{$prefix}navbar-disabled-color: #{$gloomy-gray-300};
        --#{$prefix}navbar-active-color: #{$gloomy-gray-800};

        --#{$prefix}navbar-brand-color: #{$restless-red-600};
        --#{$prefix}navbar-brand-hover-color: #{$restless-red-500};

        :global {
            .dropdown-menu {
                --#{$prefix}dropdown-link-bg: #{$wandering-white};
                --#{$prefix}dropdown-link-hover-bg: #{$wandering-white-600};
            }
        }
    }
}

.navbar.transparent {
    margin-bottom: -$totalHeightNeeded;

    &.hideBackground {
        background-color: transparent;
    }
}

.brand {
    font-family: $headings-font-family;
    font-style: $headings-font-style;
    line-height: $headings-line-height;
    font-weight: 600;

    @include font-size(calc($navbar-brand-height * (2 - $headings-line-height)));
}
