@import "../../styles/systems/theme";
@import "bootstrap/scss/mixins";

.paletteBoard {
    display: flex;
    flex-direction: column;
    margin: map-get($map: $spacers, $key: 4) 0rem;

    &__el {
        display: block;
        padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 3);
        background-color: var(--pallete-color);
        color: var(--pallete-color-fg);

        & p {
            margin-bottom: 0rem;
        }

        & code {
            color: $wandering-white;
            background-color: rgba($color: $gloomy-gray-900, $alpha: 0.5);
            padding: 0.2rem 0.5rem;
        }

        &_header {
            margin-bottom: map-get($map: $spacers, $key: 3);
        }
    }
}

// @TODO: Refactor when https://github.com/twbs/bootstrap/pull/39194 merged.
@include color-mode(light) {
    .paletteBoard {
        &__el {
            & code {
                color: $gloomy-gray;
                background-color: rgba($color: $wandering-white-100, $alpha: 0.5);
            }
        }
    }
}

$brandColors: (
    "wandering-white": $wandering-whites,
    "restless-red": $restless-reds,
    "gloomy-gray": $gloomy-grays,
    "optimistic-orange": $optimistic-oranges,
    "paranormal-pink": $paranormal-pinks,
    "gladly-green": $gladly-greens,
    "clinical-cyan": $clinical-cyans,
    "persuasive-purple": $persuasive-purples
);

@each $color, $value in $brandColors {
    $colorBg: map-get($value, #{$color + "-500"});
    .palete-#{$color} {
        --pallete-color: #{$colorBg};
        --pallete-color-fg: #{color-contrast($colorBg, $gloomy-gray, $wandering-white)};
    }

    :export {
        #{$color}: #{$colorBg};
    }

    @each $subColor, $subValue in $value {
        .palete-#{$subColor} {
            --pallete-color: #{$subValue};
            --pallete-color-fg: #{color-contrast($subValue, $gloomy-gray, $wandering-white)};
        }

        :export {
            #{$subColor}: #{$subValue};
        }
    }
}

@each $color, $value in $theme-colors {
    .palete-#{$color} {
        --pallete-color: #{$value};
        --pallete-color-fg: #{color-contrast($value, $gloomy-gray, $wandering-white)};
    }

    :export {
        #{$color}: #{$value};
    }
}
