// Sizing!
$navbar-brand-height: 2rem;
$navbar-padding-y: $spacer * 1.5;
$navbar-padding-x: null;
$navbar-nav-link-padding-x: 0.5rem;

// Colors!
$navbar-light-color: rgba($gloomy-gray, 0.55);
$navbar-light-hover-color: rgba($gloomy-gray, 0.7);
$navbar-light-active-color: rgba($gloomy-gray, 0.9);
$navbar-light-disabled-color: rgba($gloomy-gray, 0.3);
$navbar-light-toggler-border-color: rgba($gloomy-gray, 0.1);
$navbar-dark-color: rgba($wandering-white, 0.55);
$navbar-dark-hover-color: rgba($wandering-white, 0.75);
$navbar-dark-active-color: $wandering-white;
$navbar-dark-disabled-color: rgba($wandering-white, 0.25);
$navbar-dark-toggler-border-color: rgba($wandering-white, 0.1);
